// Import page-specific CSS files here.
@import "home";
@import "components/_cardshow";

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: auto;
  align-content: start
}



.card {
  color: black;
  height: 100%;
  gap: 2.5em;
  display: grid;
  place-content: center;
  border-radius: 20px;
  padding-block: 3px;
  border: 0;
}

a {
  text-decoration: none;
  color: none;
}

 .text-body {
  color: rgb(134, 134, 134);
 }

 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }

 /*Hover*/
 .card:hover {
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
// .main {
//   display: grid;
//   grid-template-columns: repeat(5, 1.5fr);
//   grid-template-rows: repeat(5, 4.5fr);
//   grid-column-gap: 5px;
//   grid-row-gap: 5px;
//   }

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  border-radius: 20px;
}

.image-hover:hover {
    transform: scale(1.2); /* Augmente la taille de l'image */
  transition: transform 0.3s ease; /* Ajoute une transition fluide */
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  margin: 0;
}

.card-trip-title {
  font-weight: 500;
}

.card-trip-pricing {
  font-weight: bold;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
