<section class="hero">
  <header id="header">
  </header>
  <header class="hero-header d-flex flex-column justify-content-center">
    <h1 class="hero-title">Like<span>Toothbrushes ?</span><h1>
    <h1 class="hero-subtitle" data-controller="typed"></h1>
  </header>
  <footer class="hero-footer">
    <%= link_to 'View Toothbrushes', toothbrushes_path, class: "btn rainbow home-btn" %>
    <%= link_to 'Rent my Toothbrush', new_toothbrush_path, class: "btn rainbow home-btn" %>
  </footer>
</section>
