<section class="hero">
  <header id="header">
  </header>
  <header class="hero-header">
    <h1 class="hero-title">Like Toothbrushes ? <span>Wanna try a new experience...</span></h1>
  </header>
  <footer class="hero-footer">
    <%= link_to 'View toothbrushes available', toothbrushes_path, class: "button button-primary n-hover1 rounded" %>
    <%= link_to 'Rent my toothbrush', dashboard_path, class: "button mx-3 n-hover2 rounded" %>
  </footer>
</section>
