<div class="container">
  <div class="cards">
    <% @toothbrushes.each do |toothbrush|%>
      <%= link_to toothbrush_path(toothbrush) do %>
        <div class="card-trip">
          <%= cl_image_tag toothbrush.photo.key, height: 130, width: 180, crop: :fill %>
          <div class="card-trip-infos">
            <div>
              <h2>Title here</h2>
            </div>
            <h2 class="card-trip-pricing">£99.99</h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<%# <div class="card">
    <p class="text-title">Card title</p>
    <p class="text-body">description</p>
    <div class="price"></div>
  </div>
  <button class="card-button">book</button>
</div> %>

