<h1>Toothbrush#index</h1>
<p>Find me in app/views/toothbrush/index.html.erb</p>

<div class="card">
  <div class="card-content">
  <img src="image.jpg" alt="Image de l'hébergement">
    <h3>Nom de l'hébergement</h3>
    <p>Description de l'hébergement</p>
    <span>Prix par nuit : $100</span>
    <a href="#" class="btn">Réserver</a>
  </div>
</div>
