<div class="container">
  <div class="cards">
    <% @toothbrushes.each do |toothbrush|%>
      <%= link_to toothbrush_path(toothbrush), class: "image-hover" do %>
        <div class="card-trip">
          <%= cl_image_tag toothbrush.photo.key, height: 130, width: 180, crop: :fill %>
          <div class="card-trip-infos">
            <div>
              <h2> <%=toothbrush.title%> </h2>
            </div>
            <h2 class="card-trip-pricing"><%= toothbrush.price %> €</h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
