.input-text {
  background-color: white;
}

.input-text:hover {
  box-shadow: 0 0 8px rgba(17, 13, 235, 0.3);
}

.input-select {
  background-color: white;
}

.input-photo {
  background-color: white;
}
