/* this button is inspired from this -- https://www.newline.co/pricing */
.btn {
  margin: 0.5em;
  background: #2d8cf0;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.home-btn {
  padding: 1em;
  border-radius: 1.8em;
}

.home-btn-add {
  padding: 0.5em;
  border-radius: 1.8em;
}

.show-btn {
  padding: 0.6em 1.5em;
  border-radius: 1.8em;
}

.rainbow:hover {
  color: #2d8cf0;
}

.rainbow:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.rainbow:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
